<!--<div class="container mt-5">
  <div class="card">
  <form class="content" [formGroup]="registerForm" (ngSubmit)="submitData()">
      <h1 class="text-center">Register Form</h1>
          <div class="row">
      <div class=" mt-2 mb-2 col-1g-6 col-6">
        <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname" formControlName="fname">
          <small style="color:red" *ngIf="fname.invalid && fname.touched">*First Name is Required</small>
      </div>

      
      <div class=" mt-2 mb-2col-1g-6 col-6">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" formControlName="lname">
        <small style="color:red" *ngIf="lname.invalid && lname.touched">*Last Name is Required</small>
      </div>
     
      <div class=" mt-2 mb-2col-1g-12 col-12">
        <label for="emailid">Email ID</label>
        <input type="email" class="form-control" id="emailid" formControlName="myemail">
        <small style="color:red" *ngIf="myemail.invalid && myemail.touched">*EMAIL ID IS REQUIRED</small>
      </div>

     
      <div class=" mt-2 mb-2col-1g-12 col-12">
        <label for="mobile">Mobile.No</label>
        <input type="number" class="form-control" id="mobile" formControlName="mobile">
        <div *ngIf="mobile.touched && mobile.invalid">
          <small style="color:red" *ngIf="mobile.errors.required">*Mobile Number Required</small><br/>
          <small style="color:red" *ngIf="mobile.errors.pattern">*Only Numbers are allowed</small>
            </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" formControlName="pwd">
           <div *ngIf="pwd.invalid && pwd.touched">
                   <small style="color:red" *ngIf="pwd.errors.required">*Password  Required</small>
                   <small style="color:red" *ngIf="pwd.errors.minlength">*Password should be minimum 8 characters</small>
           </div> 
      </div>
      
      <div class="text-center">
        <br>
        <button class="bg-success" [disabled]="registerForm.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>-->
<div class="container mt-5">
  <div class="card">
  <form #myform="ngForm">
      <h1 class="text-center">REGISTER HERE</h1>
          <div class="row">

            <div class=" mt-2 mb-2col-1g-12 col-12">
              <div class="form-group">
                <label for="lid">UNIQUE ID</label>
                <input type="text" #n1="ngModel" class="form-control" id="lid"  ngModel name="lid" required>
                <div *ngIf="n1.touched && n1.invalid">
                    <small *ngIf="n1.errors.required" class="error">*UNIQUE ID is Required</small>    
                </div>  
              </div>
                </div>

      <div class=" mt-2 mb-2 col-1g-12 col-12">
        <div class="form-group">
          <label for="fname">Name</label>
          <input type="text" #n2="ngModel" class="form-control" id="fname"  ngModel name="fname" required   pattern="[a-zA-Z]{20}">
          <div *ngIf="(n2.dirty ||n2.touched) && n2.invalid"> 
              <small *ngIf="n2.errors.pattern" class="error">*Maximum length is 20</small>
              <small *ngIf="n2.errors.required" class="error">*Name is Required</small>
          </div>  
        </div>
      </div>
 <div class=" mt-2 mb-2col-1g-12 col-12">
        <div class="form-group">
          <label for="emailid">Email Id</label>
          <input type="text" #n4="ngModel" class="form-control" id="emailid"  ngModel name="emailid" required>
          <div *ngIf="n4.touched && n4.invalid">
              <small *ngIf="n4.errors.required" class="error">*Email is Required</small>    
          </div>  
        </div>
      </div>

         <div class=" mt-2 mb-2col-1g-12 col-12">
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="text" #n5="ngModel" class="form-control" id="mobile"  ngModel name="mobile" required>
            <div *ngIf="n5.touched && n5.invalid">
                <small *ngIf="n5.errors.required" class="error">*Mobile Number is Required</small>    
            </div>
            </div>
         </div>
         <div class=" mt-2 mb-2 col-1g-6 col-6">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" #n6="ngModel" class="form-control" id="city"  ngModel name="city" required>
            <div *ngIf="n6.touched && n6.invalid">
                <small *ngIf="n6.errors.required" class="error">*City is Required</small>    
            </div>
            </div>
           </div>
            <div class=" mt-2 mb-2 col-1g-6 col-6">
              <div class="form-group">
                <label for="domain">Domain</label>
                <input type="text" #n7="ngModel" class="form-control" id="domain"  ngModel name="domain" required>
                <div *ngIf="n7.touched && n7.invalid">
                    <small *ngIf="n7.errors.required" class="error">Domain is Required</small>    
                </div>
            </div>
            </div>
            <div class=" mt-2 mb-2col-1g-12 col-12">
              <div class="form-group">
                <label for="salary">Salary</label>
                <input type="text" #n8="ngModel" class="form-control" id="salary" ngModel name="salary" required>
                <div *ngIf="n8.touched && n8.invalid">
                    <small *ngIf="n8.errors.required" class="error">*Salary is Required</small>
                    
                </div>
                </div>
            </div>
       <div class="text-center">
        <br>
        <input type="submit" class="btn btn-primary" [disabled]="myform.invalid" value="Register" (click)="store(myform)">
      </div>
      <br>
      <a style="color: #ffff;"  routerLink="/home">Back</a>
      <div class="alert alert-success text-center" role="alert" *ngIf="flag">
        {{msg}}
      </div>
    </div>
  </form>
</div>
</div>
  