#first{
    background-color: rgba(56, 30, 44, 10);
    height: 50px;
}
#second{
  
    background-color: rgba(33, 60, 25, 31);
    height: 50px;
}
#third{
    background-color: rgba(20, 35, 52, 7);
    height: 50px;
}