<!-- As a heading -->
<nav class="navbar navbar-light bg-success">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="color: #fff;">HRMS</span>
  </div>
</nav>
<div class="content">
  <table class="table table-dark table-sm">
  <tr>
    <td>Unique ID</td>
    <td>Name</td>
    <td>Email</td>
    <td>Mobile</td>
    <td>City</td>
    <td>Domain</td>
    <td>Salary</td>
  </tr>
  <tr *ngFor="let intern of  interns">
    <td>{{ intern.lid}}</td>
    <td>{{intern.name}}</td>
    <td>{{intern.email}}</td>
    <td>{{intern.mobile}}</td>
    <td>{{intern.city}}</td>
    <td>{{intern.domain}}</td>
    <td>{{intern.salary}}</td>
  </tr>
</table>
</div>
<a style="color: black;"  routerLink="/login">Back</a>
<!--<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>-->
<div class="container">
<footer class="page-footer font-small special-color-dark pt-4 bg-primary text-center text-white"> 
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.319);">
    © 2022 Copyright:
    <p>Human Resource Management System</p>
    

  </div>
  
</footer>
</div>