<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h2>Intern List</h2>
  </div>
  <table class="table table-dark table-sm mt-3">
  <tr class="table-dark">
    <td>Unique ID</td>
    <td>Name</td>
    <td>Email</td>
    <td>Mobile</td>
    <td>City</td>
    <td>Domain</td>
    <td>Salary</td>
    <td>Action</td>
  </tr>
  <tr class="table-info" *ngFor="let intern of  interns">
    <td>{{ intern.lid}}</td>
    <td>{{intern.name}}</td>
    <td>{{intern.email}}</td>
    <td>{{intern.mobile}}</td>
    <td>{{intern.city}}</td>
    <td>{{intern.domain}}</td>
    <td>{{intern.salary}}</td>
    <td>
      <button class="btn btn-info" routerLink="/updateintern">Update</button>
      <button class="btn btn-danger mx-3" routerLink="/deleteintern">Delete</button>
    </td>
  </tr>
  
</table>
</div>
